@media (min-width: 0) {

/*
==========================================================================
 MOBILE STYLESHEET
========================================================================== */

  body { background: #000; font-family: "Roboto" !important; font-style: normal; font-weight: 300; font-size: 18px; }
  h1 { font-family: 'Roboto' !important; font-style: normal; font-weight: 800; font-size: 56px; }
  h2 { font-family: 'Roboto' !important; font-style: normal; font-weight: 200; font-size: 20px; }
  h3 { font-family: 'Roboto' !important; font-style: normal; font-weight: 400; font-size: 24px; }

  .page { width: 100%; height: 100%; min-height: 100%; color: white; -webkit-transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; }
  .wrapper { width: 90%; margin: 0 auto; }
  .header-outter { display: flex; flex-direction: column; height: 100vh; }
  .header-inner { flex: 1; display: flex; align-items: center; justify-content: center; }
  .header-inner.flex-mobile { display: flex; justify-content: space-around; align-items: flex-end; }
  .header-inner.flex-mobile a { margin: 0 0 40px; }
  .align-top { align-items: flex-start; }
  .align-bottom { align-items: flex-end; }
  .align-center { align-items: center }

  /* Header */
  header { text-align: center; }
  header h1 { color: #fff; }
  header h2 { color: #0096d6; }
  .material-icons { color: #0096d6; font-size: 32px; line-height: 32px;}
  .navigation { list-style: none; }
  .navigation li { padding: .5rem 0; text-align: left; }
  .navigation li a { color: #fff; }
  .navigation li a .material-icons { transition: all .25s linear; opacity: .27; }
  .navigation li:hover a .material-icons { opacity: 1; }

  /* Logo */
  .logo { position: relative; top: 60px; -webkit-perspective: 1000; perspective: 1000; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: all 2.5s linear; transition: all 2.5s linear; }
  .loadable { position: absolute; bottom: 100%; left: 50%; margin: 0 0 25px -60px; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
  .logo-img { width: 120px; }
  #frontal { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); -webkit-animation: flipin 1s infinite; animation: flipin 1s infinite; }
  #backal { -webkit-transform: rotateY(-360deg); transform: rotateY(-360deg); -webkit-animation: flipout 1s infinite; animation: flipout 1s infinite; }

  /* Transitions */
  @-webkit-keyframes flipin {
    0% {
      -webkit-transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
    }
  }
  @-webkit-keyframes flipout {
    0% {
      -webkit-transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
    }
  }
  @keyframes flipin {
    0% {
      -webkit-transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
    }
  }
  @keyframes flipout {
    0% {
      -webkit-transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
    }
}


/* eCommerce page */
  .body-ecommerce { background: white; }
  .page.ecommerce { background: white; color: black; }
  .page.ecommerce header { background: black; padding: 1em; }
  .page.ecommerce header h1 { font-size: 32px; font-weight: 200; padding: .5em 0; }

  .feature-wrapper { display: flex; flex-wrap: wrap; }
  .feature-wrapper .feature-widget { flex: 0 0 100%; padding: 2em 0; transition: all .25s linear; }

  .feature-wrapper .feature-widget img { height: 84px; }
  .feature-wrapper .feature-widget h2 { color: white; padding: 1em .5em .5em; font-size: 28px; }
  .feature-wrapper .feature-widget p { color: white; line-height: 1.2; font-size: 18px; opacity: .54; padding: 0 3em; }

  .page.ecommerce main ul * { line-height: 1.2 !important; }
  .page.ecommerce main ul { list-style: none; }
  .page.ecommerce main h2 { padding: .25em; border-top: 1px solid #000; border-bottom: 1px solid #000; display: inline-block; margin: 0 auto; text-align: center; }
  .page.ecommerce main ul li { float: left; display: inline-block; width: 100%; padding: 1em; }
